h2 {
padding-bottom: 5px;
border-bottom: solid 1px #CCCCCC;
}
#afmng_body{
padding: 20px;
margin: 0px;
border: solid 1px #CCCCCC;
}

.project_box{
padding: 20px 0 20px 0;
}

.project_box h1 {
	background-color: #eee;
	line-height:1.5em;
	padding: 0 20px 0 20px;
	border-bottom: 1px solid blue;
}

#project_add{
padding: 20px 0 20px 0;
}

#task_current{
padding: 20px 0 20px 0;
}

#task_available{
padding: 20px 0 20px 0;

}

#task_done{
padding: 20px 0 20px 0;
}

#task_random{
padding: 20px 0 20px 0;
}


div.button_delete{
	background-image: url(./icon_delete.png);
	background-size:100%;
	width:16px;
	height:16px;
	display:inline-block;
}

.jconfirm_wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#102000000, endColorstr=#102000000);
}

.jconfirm_inner {
    background: #fff;
    padding: 20px;
    padding-top: 10px;
    border: 1px solid #ccc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.jconfirm_message:empty {
    height: 20px;
}

.jconfirm_buttons {
    text-align: center;
    margin: 10px 0 14px;
}


/* status styles */
.status_0 { /*Offen*/
	background-color:red;
}

.status_1 { /*In Bearbeitung*/
	background-color:yellow;
}

.status_2 { /*Erledigt*/
	background-color:green;
}

/* step styles */
.step_1 { /* raw should be 0 */
	background-color:gray;
} 


/* table formatting */

.afmng_table
{
	border-collapse: collapse;
	caption-side:top;
	padding: 0 1px 0 1px;
	border: 1px solid #777;
	empty-cells:show;
}

.afmng_table thead {
	border-bottom: 2px solid #777;
}

.afmng_table th {
	vertical-align:top;
	padding:0 5px 0 5px;
	border-left:1px solid #777;
}

.afmng_table td {
	vertical-align:top;
	border: 1px solid #777;
	margin:0;
	padding:0 5px 0 5px;
}

.afmng_subtable {
	border-collapse: collapse;
	border:0px;
}

.afmng_subtable th {
	border:0px;
	padding:0 5px 0 5px;
	border-left: 1px solid #777;
}
.afmng_subtable td {
	border:0px;
	padding:0 5px 0 5px;
	border-left: 1px solid #777;
}
